# Force TOML files to display as plain text
<FilesMatch "\.toml$">
    ForceType text/plain
    Header unset Content-Disposition
    Header set Content-Type "text/plain; charset=utf-8"
    Header set Cache-Control "no-cache, no-store, must-revalidate"
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.html [NC,L]
